#tabla{
    background-color: aliceblue;
    padding: 2%;
}
th{
    border: 2px solid black;
    background-color: rgb(198, 228, 255);
}
td{
    border: 2px solid black;
    background-color: aliceblue;
}
body{
    margin: 3%;
    background-image: url(https://th.bing.com/th/id/OIP.uBGzWi8JVEFQ1acifW7L2wHaEm?rs=1&pid=ImgDetMain);
}
h1{
    font-size: 5vw;
    text-align: center;
    text-shadow: 4px 4px 4px rgb(198, 228, 255);
}
